HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 🛡️ KARARGAH ÖZEL GÜVENLİK EKLENTİLERİ ###

# OS Files (İşletim Sistemi Çöpleri)
.DS_Store
Thumbs.db

# Logs (Kayıt Dosyaları)
*.log

# Çevre Değişkenleri (Yanlışlıkla klasör içine açılırsa diye)
.env
*.env
!.env.example