# ==========================================
# 🚀 ANA KOMUTA MERKEZİ (SİSTEM YAPILANDIRMASI) - ÖRNEK DOSYA
# Not: Bu dosyayı '.env' olarak kopyalayın ve "your_..." ile başlayan gizli alanları doldurun.
# ==========================================

# 🌐 1. AĞ VE YÖNLENDİRME AYARLARI (DOMAIN MİMARİSİ)
NEXT_PUBLIC_FRONTEND_URL=https://app.bank.local
EUREKA_URL=http://discovery-server:8761/eureka/
ES_URL=http://elasticsearch:9200
KC_INTERNAL_URL=http://keycloak:8080

RMQ_HOST=rabbitmq
RMQ_PORT=5672

REDIS_HOST=redis
REDIS_PORT=6379

# 🗄️ 2. MİKROSERVİS VERİTABANLARI (MODÜLER İZOLASYON)
# Core (Karargah)
CORE_DB_URL=jdbc:postgresql://postgres-core:5432/bank_core_db
CORE_DB_USER=postgres
CORE_DB_PASS=your_core_db_password_here

# Auth (Kimlik Üssü)
AUTH_DB_URL=jdbc:postgresql://postgres-auth:5432/bank_auth_db
AUTH_DB_USER=postgres
AUTH_DB_PASS=your_auth_db_password_here

# Bill (Fatura)
BILL_DB_URL=jdbc:postgresql://postgres-bill:5432/bank_bill_db
BILL_DB_USER=postgres
BILL_DB_PASS=your_bill_db_password_here

# Corporate (Kurumsal)
CORP_DB_URL=jdbc:postgresql://postgres-corporate:5432/bank_corporate_db
CORP_DB_USER=postgres
CORP_DB_PASS=your_corporate_db_password_here

# 🔐 3. KEYCLOAK (KİMLİK SUNUCUSU) AYARLARI
# Keycloak'un kendi veritabanı rotası ve şifresi
KC_DB_URL=jdbc:postgresql://keycloak-db:5432/keycloak
KC_DB_USER=keycloak
KC_DB_PASS=your_keycloak_db_password_here

# Keycloak Yönetici (Admin) Paneli Şifresi
KC_ADMIN_USER=admin
KC_ADMIN_PASS=your_keycloak_admin_password_here

# Mikroservislerin Keycloak'a bağlanma şifresi (Client Secret)
KEYCLOAK_CLIENT_SECRET=your_keycloak_client_secret_here
OAUTH_ISSUER_URI=https://auth.bank.local/realms/bank-realm

# 🐇 4. HABERLEŞME AĞI (RABBITMQ)
RMQ_USER=admin
RMQ_PASS=your_rabbitmq_password_here

# 🔑 5. GİZLİ ANAHTARLAR (SPRING BOOT İÇİN)
# Core servisindeki eski ajanın şifresi (JWT)
JWT_SECRET=your_256_bit_jwt_secret_hex_here

# Auth servisindeki Google doğrulaması (Backend Secret Key)
RECAPTCHA_SECRET=your_google_recaptcha_secret_key_here